/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main_text_color: #131212;
  --main_bg_color: #dcd6d7;
  --alt_text_color: #ffffff;
  --alt_bg_color: #0e0720;
  --a_text_color: #ffffff;

  --temp_border_color: #e13a19;
  --alt_temp_border_color: #13ea77;
}

/* Element selectors */

a {
  color: var(--a_text_color);
  text-decoration: none;
}

body {
  height: 100%;
  color: var(--main_text_color);
  background-color: var(--main_bg_color);
}

header {
  color: var(--alt_text_color);
  background-color: var(--alt_bg_color);
  border: 2px solid var(--alt_temp_border_color);
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  border: 2px solid var(--temp_border_color);
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  padding: 0 10px 0 0;
}

/* To keep footer on bottom */
main {
  flex: 1 0 auto;
}

main>article {
  padding: 20px 0;
}

main>article>section {
  padding: 10px 0;
}

article>h2 {
  padding: 0 10px;
  border: 1px solid var(--temp_border_color);
}

footer {
  flex-shrink: 0;
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}

/* Class Selectors */

.aboutMe {
  display: flex;
}

.aboutMe img {
  padding: 0 10px;
}

.workLayout {
  display: flex;
}

.applicationLayout {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  color: var(--alt_text_color);
  position: relative;
  width: 100%;
  align-items: center;
}

.applicationLayout img:hover{
  cursor: crosshair;
}

.contactUs {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--temp_border_color);
  padding: 0px;
}

.contactUs section {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.contactUs section p{
  padding-left: 10px;
}

.firstApplication {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 5px 0 0 100px;
  border: 1px solid var(--alt_temp_border_color);
}

.firstApplication img{
  flex: 2 2 300px;
  margin: 0;
  padding: 0;
  width: 300px;
}

.firstApplication h3{
  margin: 0px 0px;
  top: 280px;
  left: -290px;
  position: relative;
}

.otherApplication {
  display: flex;
  justify-content: center;
  padding: 5px 0 5px 130px;
  border: 1px solid var(--temp_border_color);
  width: 50%;
}

.otherApplication h3{
  margin: 10px 15px;
  top: 220px;
  left: -260px;
  position: relative;
}